.container {
  min-height: 40%;
  position: relative;
}

.textarea {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  resize: none;
  overflow-y: auto;
  padding: 12px;
}

.editButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  bottom: 5%;
  right: 3%;
}
